@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7; /* Violet scrollbar */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9333ea; /* Darker violet on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 #f1f1f1;
}
